---
import HeroLogo from '@/components/HeroLogo.astro';
---

<section class="flex flex-col justify-center items-center gap-9">
   <span class="text-xl uppercase text-secondary bg-primary px-6 py-1 font-medium">
      Presentacion de la
   </span>
  <HeroLogo class="text-primary" />
</section>