---

---

<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
   <div class="flex justify-center items-center">
      <a href="#" class="text-primary hover:scale-125 hover:opacity-75 transition inline-block" target="_blank">
         <svg
	width="78"
	height="91"
	viewBox="0 0 24 24"
	fill="currentColor"
	class='twitch'
	role="img"
	aria-label="Logotipo de Twitch"
>
	<path
		fill-rule="evenodd"
		d="M2.149 0 .537 4.119v16.836h5.731V24h3.224l3.045-3.045h4.657l6.269-6.269V0H2.149zm19.164 13.612-3.582 3.582H12l-3.045 3.045v-3.045H4.119V2.149h17.194v11.463zm-3.582-7.343v6.262h-2.149V6.269h2.149zm-5.731 0v6.262H9.851V6.269H12z"
		clip-rule="evenodd"
	>
	</path>
</svg>
      </a>

   </div>

   <div class="grid uppercase text-center gap-x-10 [grid-template-columns:1fr] md:[grid-template-columns:1fr_1.5fr_1fr]">
      <article class="order-2 md:order-1 flex justify-center items-center text-xl py-10 md:py-16 px-10 md:border-y-2 border-primary">
         <h5>Presentacion, Pesaje, Entrevista y Cara a Cara</h5>
      </article>
      <article class="order-1 md:order-2 flex justify-center items-center text-4xl py-18 px-10 border-y-2 border-primary">
         <h4>
            <a href="#" class="hover:text-twitch hover:scale-110 transition inline-block" target="_blank">
            Siguelo en directo twitch.tv/ibai
            </a>
         </h4>
      </article>
      <article class="order-3 text-xl py-10 md:py-16 px-10 border-y-2 border-primary flex justify-center items-center">
         <h5>
            Con la presencia de los boxeadores e boxeadores
         </h5>
      </article>
   </div>
</section>

<style>
   svg {
      view-timeline-name: --twitch;
      view-timeline-axis: block;
      animation-timeline: --twitch;
      animation-name: show;
   }

   @keyframes show {
      to {
         @apply text-twitch
      }
   }
</style>