<section
  class="animate-fade-in animate-delay-500 mt-24 mx-auto flex flex-col justify-center items-center text-center text-primary"
>
  <h2 class="uppercase text-4xl font-semibold">
    31 DEC 2024
    <span aria-hidden class="hidden md:inline mx-1">-</span>
    <br aria-hidden class="block md:hidden" />
    <span>
      <script is:inline>
         const END_DATE = 1735682399000
         const d = new Date(END_DATE)
         const date = d.toLocaleTimeString("uk-UA", {
            hour: "2-digit",
            minute: "2-digit"
         })

         const tzOffset = d.getTimezoneOffset() / 60
         const diff = tzOffset * -1
         const gmt = diff > 0 ? `GMT+${diff}` : `GMT${diff}`

         const TZ_DICTIONARY = {
            "GMT+2": "GMT",
         }

         const tz = TZ_DICTIONARY[gmt] ?? gmt

        const selfScript = document.currentScript;
        selfScript.parentNode.innerHTML = `${date}H ${tz}`;
      </script>
    </span>
  </h2>
  <h3 class="uppercase text-2xl font-medium flex flex-col max-w-sm mt-6">
    <span>Evento de Presentacion</span>
    <span>Teatro Victoria (Barcelona)</span>
  </h3>

  <a
    href="#"
    class={`border-primary border-2 font-medium uppercase text-lg px-6 py-1 mt-8 hover:bg-slate-300 hover:scale-125 transition inline-block`}
    target="_blank"
    rel="noopener noreferrer">Entradas agotadas</a
  >
</section>
