---
import '@fontsource-variable/jost';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="max-w-6xl px-2 pt-16 md:pt-20 mx-auto">
			<slot />
		</div>
	</body>
</html>



<style is:global>
	:root {
		
	}
	html {
		font-family: 'Jost Variable', system-ui, sans-serif;
		background: #dddee2;
	}
	
</style>
